@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-text-primary;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

/* Sileo toast styling */
[data-sileo-toast] {
  background-color: #f5f5f4 !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}
